[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=tab
indent_size=4

[{*.c,*.cp,*.cc,*.hpp,*.cpp,*.tcc,*.hp,*.cxx,*.icc,*.mm,*.hxx,*.ii,*.hh,*.m,*.i,*.h,*.h++,*.c++,*.pch,*.inl}]
indent_style=tab
indent_size=4
insert_final_newline=false

[{CMakeLists.txt,*.cmake}]
indent_style=space
indent_size=2

[{Makefile.*,Makefile,GNUmakefile,makefile,*.mk}]
indent_style=tab
tab_width=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[appveyor.yml]
end_of_line=crlf