/*-ng
/besside-ng-crawler
/ivstools
/kstats
/wpaclean
src/osdep/.os.Linux
src/osdep/libosdep.a
src/tags
tags
*.a
*.so
*.dll
*.o
*.exe
*.log
*.trs
*.zip
*.tar.*
common.cfg
Makefile.in
aclocal.m4
autom4te.cache/
compile
/config.h
/config.h.in
config.guess
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
reautogen.sh
src/Makefile.in
*.lo
.deps
.libs
.dirstamp
/depcomp
/aminclude_static.am
/stamp-h1
*.la
*.gcda
*.gcno
*.orig
/test-driver
/**/*-coverage.info
/**/*-coverage
/**/*.log
/**/*.trs
/scripts/airdrop-ng/build
/scripts/airgraph-ng/build
/test-calc-4pmk
/test-calc-mic
/test-calc-pmk
/test-calc-ptk
/test-decrypt-ccmp
/test-encrypt-ccmp
/test-encrypt-wep
/test-hex_string_to_array
/build/m4/stubs/*
!/build/m4/stubs/.gitkeep
/test/test-env.sh
/.idea
/.clang_complete
CMakeLists.txt
/cmake-build-*
*.gcda
*.gcno
Makefile
!/contrib/commview/Makefile
!/contrib/airpcap/Makefile
!/contrib/peek/Makefile
!/scripts/airgraph-ng/lib/Makefile
/scripts/airmon-ng
/benchmark.csv
/.cccc
/cccc.opt
/.scannerwork
/.bash_history
/.cproject
/.lesshst
/.project
/.rpmdb
/.settings
benchmark*.csv
/bw-output
compile_commands.json
coverage*.info
/test/cryptounittest/default.profraw
/test-calc-one-pmk
/test-string-has-suffix
/test-wpapsk
/test-wpapsk-cmac
/test-circular-buffer
/test-circular-queue
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/VERSION
/AC_VERSION
/aminclude_static.am
/config.h
/config.h.in
/include/aircrack-ng/version.h
/manpages/*.1
/manpages/*.8
/.ccls-cache
/.cache
/.gdb_history
/cscope*
/strace_out
/.clangd
/r*hs
/r*hs-bad
/r*tr
/r*tr-bad
*~
*.pidb
/.vscode/settings.json
/infer-out/
