src/*-ng
src/besside-ng-crawler
src/ivstools
src/kstats
src/wpaclean
src/osdep/.os.Linux
src/osdep/libosdep.a
*.o
*.exe
common.cfg
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
reautogen.sh
src/Makefile.in
*.lo
.deps
.libs
.dirstamp
/depcomp
*.la
*.gcda
*.gcno
*.orig
/test-driver
/test/**/*-coverage.info
/test/**/*-coverage
/test/**/*.log
/test/**/*.trs
/scripts/airdrop-ng/build
/scripts/airgraph-ng/build
test/cryptounittest/test-calc-4pmk
test/cryptounittest/test-calc-mic
test/cryptounittest/test-calc-pmk
test/cryptounittest/test-calc-ptk
test/cryptounittest/test-decrypt-ccmp
test/cryptounittest/test-encrypt-ccmp
test/cryptounittest/test-encrypt-wep
test/test-hex_string_to_array
/build/m4/stubs/*
