[Desktop Entry]
Version=1.2
Type=Application
Encoding=UTF-8
_Name=Airoscript-ng
_Comment=Aircrack-ng TUI
_GenericName=Airoscript-ng
Exec=airoscript-ng
Icon=airoscript-ng
StartupNotify=true
Terminal=true
MimeType=text/plain
Categories=Application;Network

