[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Airoscript-ng GTK
Comment=Aircrack-ng GUI
GenericName=Airoscript-ng-gtk
Exec=su-to-root -X -c "airoscript-ng -pzenity"
Icon=airoscript-ng
StartupNotify=true
Terminal=false
MimeType=text/plain
Categories=System;Monitor
