[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Airoscript-ng
Comment=Aircrack-ng TUI
GenericName=Airoscript-ng
Exec=su-to-root -X -c "airoscript-ng"
Icon=airoscript-ng
StartupNotify=true
Terminal=true
MimeType=text/plain
Categories=System;Monitor
